body {
  font-family: sans-serif;
  background: #f0fdfd;
  color: #0f4f4f;
  margin: 0;
  padding: 0;
}

header {
  background-color: #088;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

#post-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background: teal;
  color: white;
  border: none;
  border-radius: 5px;
}
